# Editor settings, configs.
.vscode

# Byte-compiled / optimized / DLL files.
__pycache__/
*.py[cod]
*$py.class

# Cargo build target, Rust.
/target

# Secrets env variables
# CREDENTIALS.py
.env

# Database Files.
*.sqlite
*.db
penny_expenses.csv

# Notes, Ideas.
# - to blacklist.
*.md
# - to allow.
!README.md 
